                body {
                    font-size: 16px;
                    color: black;
                    background-color: whitesmoke;
                    font-family: sans-serif;
                }
                
                .loading-overlay {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 255, 255);
                    /* Semi-transparent background */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 9999;
                    /* Ensure it's on top of other content */
                }
                /* Animation for the image spinner */
                
                @keyframes spin {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
                
                .spinner-logo {
                    width: 75px;
                    /* Adjust size as needed */
                    height: 75px;
                    animation: spin 2s linear infinite;
                    /* Animation duration and type */
                }
                /* START OF HEADER */
                
                .MIKE {
                    color: black;
                    font-weight: 600;
                }
                
                .FLORA {
                    color: rgb(112, 75, 48, 0.9);
                    font-weight: 600;
                }
                
                .About-message {
                    text-align: justify;
                    word-spacing: 2px;
                    font-weight: 600;
                }
                
                .navbar-brand {
                    font-family: sans-serif;
                    color: black;
                    font-weight: 600;
                }
                
                .logo {
                    border-radius: 50%;
                    margin-left: 1px;
                }
                
                .navbar-nav {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                
                .navbar {
                    background-color: white;
                    padding: 10px;
                    box-sizing: content-box;
                    border-radius: 0.5rem;
                }
                
                .nav-item {
                    border: 5px;
                    padding: 15px;
                    width: auto;
                    font-family: sans-serif;
                    font-weight: 600;
                }
                
                .nav-link {
                    color: rgb(5, 18, 26);
                }
                
                .nav-item:hover {
                    background: rgb(198, 226, 220);
                }
                
                .welcome {
                    text-align: center;
                    font-family: sans-serif;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                
                .blue {
                    color: rgb(38, 88, 117);
                    font-style: italic;
                    font-weight: 600;
                }
                
                .brown {
                    color: rgb(112, 75, 48, 0.9);
                    font-family: serif;
                    font-weight: 600;
                }
                /* End of Header */
                /* start of Slideshow container */
                
                .mySlides {
                    display: none;
                }
                
                .img {
                    vertical-align: middle;
                }
                
                .slideshow-container {
                    margin-top: 20px;
                    max-width: 1000px;
                    position: relative;
                    margin: auto;
                }
                /* Caption text */
                
                .text {
                    color: black;
                    font-weight: bold;
                    font-size: 15px;
                    padding: 8px;
                    position: absolute;
                    bottom: 5px;
                    width: auto;
                    text-align: center;
                    font-family: sans-serif;
                    background-color: rgb(151, 105, 74, 0.7);
                }
                /* Number text (1/3 etc) */
                
                .numbertext {
                    color: black;
                    font-size: 12px;
                    padding: 8px 12px;
                    position: absolute;
                    top: 0;
                    font-family: sans-serif;
                }
                /* The dots/bullets/indicators */
                
                .dot {
                    height: 15px;
                    width: 15px;
                    margin: 0 2px;
                    background-color: #bbb;
                    border-radius: 50%;
                    display: inline-block;
                    transition: background-color 0.6s ease;
                }
                
                .active {
                    background-color: #717171;
                }
                /* Fading animation */
                
                .fade {
                    animation-name: fade;
                    animation-duration: 1.5s;
                }
                
                @keyframes fade {
                    from {
                        opacity: .4
                    }
                    to {
                        opacity: 1
                    }
                }
                /* On smaller screens, decrease text size */
                
                @media only screen and (max-width: 300px) {
                    .text {
                        font-size: 11px
                    }
                }
                /* END OF SLIDE SHOW */
                /* START OF OUR GALLERY */
                /* The grid: Four equal columns that floats next to each other */
                
                .gallerytext {
                    color: black;
                    font-style: italic;
                    font-weight: lighter;
                }
                /* . */
                
                div.column {
                    float: left;
                    width: 25%;
                    padding: 10px;
                }
                /* Style the images inside the grid */
                
                .column img {
                    opacity: 0.8;
                    cursor: pointer;
                }
                
                .column img:hover {
                    opacity: 1;
                }
                /* Clear floats after the columns */
                
                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                /* The expanding image container */
                
                .container2 {
                    position: relative;
                    display: none;
                }
                /* Expanding image text */
                
                #imgtext {
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                    color: white;
                    font-size: 20px;
                }
                /* Closable button inside the expanded image */
                
                .closebtn {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                    color: white;
                    font-size: 35px;
                    cursor: pointer;
                }
                /* END OF OUR GALLERY */
                /* about us section */
                
                .fa-graduation-cap,
                .fa-award,
                .fa-heart,
                .fa-magnifying-glass,
                .fa-seedling,
                .fa-eye,
                .fa-medal,
                .fa-circle-question {
                    color: rgb(151, 105, 74);
                    width: 100%;
                    text-align: center;
                    font-size: 50px;
                    margin-right: 5px;
                }
                
                .special {
                    margin-top: 20px;
                    font-style: italic;
                }
                
                .container1 {
                    font-size: 1.2em;
                    padding: 10px;
                    border-radius: 2rem;
                    margin-top: 15px;
                    margin-left: 15px;
                    margin-right: 15px;
                }
                /* .about {
                    text-align: center;
                    font-weight: bold;
                } */
                
                #learning,
                #about,
                #growth,
                #vision,
                #focus,
                #mission {
                    text-align: center;
                    color: black;
                    font-family: sans-serif;
                    font-weight: 600;
                }
                
                .about,
                .learning,
                .growth,
                .vision,
                .focus,
                .mission {
                    text-align: center;
                    height: fit-content;
                    width: fit-content;
                    margin-bottom: 15px;
                    margin-top: 15px;
                    position: relative;
                    padding-top: 15px;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-bottom: 15px;
                    /* border: 1px solid rgb(112, 75, 48, 0.9); */
                    overflow: hidden;
                    background-color: rgb(198, 226, 220);
                    border-radius: 2rem;
                    overflow: auto;
                    font-family: sans-serif;
                    font-weight: 600;
                    word-spacing: 2px;
                    /* background: url('../images/sports\ \(15\).jpg') no-repeat;
                    background: transparent;
                    background-size: cover; */
                }
                
                .special {
                    text-align: center;
                    /* background-color: rgb(198, 226, 220); */
                    padding-left: 15px;
                    padding-right: 15px;
                    font-weight: bold;
                }
                
                .accordion {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                
                .accordion-body {
                    text-align: justify;
                }
                
                .accordion-button {
                    font-weight: 600;
                }
                
                #collapseOne,
                #collapseTwo {
                    background-color: rgb(198, 226, 220);
                    font-weight: 600;
                }
                /* end of about us */
                /* START OF ACADEMIC & MAP TILES */
                
                #Subject-and-classes,
                #Academic-calender,
                #map-tile {
                    text-align: center;
                    height: 250px;
                    width: 100%;
                    margin-bottom: 15px;
                    margin-top: 15px;
                    position: relative;
                    /* border: 3px solid black; */
                    overflow: hidden;
                    /* background-color: rgb(112, 75, 48); */
                    border-radius: 2rem;
                }
                
                .calendar {
                    width: 100%;
                    height: auto;
                }
                
                #Subject-and-classes {
                    background: url('../images/subjects&classes.jpg') no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                
                #Academic-calender {
                    background: url('../images/academic\ calender.jpg') no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                
                #map-tile {
                    background-position: center;
                    background-size: cover;
                }
                /* #Subject-and-classes:hover,
            #Academic-calender:hover,
            #map-tile:hover {
                
            } */
                
                .child {
                    align-self: flex-end;
                    width: 100px;
                    height: 100px;
                    background: rgb(151, 105, 74, 0.8);
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    transform-origin: bottom;
                }
                
                .bounce:hover {
                    animation-name: bounce;
                    animation-timing-function: ease;
                }
                
                @keyframes bounce {
                    0% {
                        transform: translateY(0);
                    }
                    50% {
                        transform: translateY(-30px);
                    }
                    100% {
                        transform: translateY(0);
                    }
                }
                
                #Subject-and-classes span,
                #Academic-calender span,
                #map-tile span {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    text-align: center;
                    font-size: 1.6em;
                    text-transform: uppercase;
                    background-color: black;
                    color: white;
                    opacity: .8;
                    font-family: serif;
                }
                /* END OF ACADEMIC & MAP TILES */
                /* START OF FOOTER */
                /*                 
                .Panel-footer {
                    margin-top: 30px;
                    padding-top: 35px;
                    padding-bottom: 30px;
                    background-color: rgb(112, 75, 48, 0.9);
                    border-top: 0;
                }
                
                .Panel-footer div.row {
                    margin-bottom: 50px;
                }
                
                #hours,
                #address {
                    line-height: 2;
                    color: whitesmoke;
                }
                
                #hours>span,
                #address>span {
                    font-size: 1.3em;
                    color: black;
                }
                
                #address p {
                    color: rgb(117, 38, 38);
                    font-size: .8em;
                    line-height: 1.8;
                }
                
                #Testimonials {
                    font-style: italic;
                }
                
                #Testimonials p:nth-child(2) {
                    margin-top: 25px;
                }
                
                div.text-center {
                    color: black;
                } */
                
                footer {
                    padding: 1em 0;
                }
                
                .footer {
                    position: relative;
                    background: url('../images/sports\ \(1\).jpg') no-repeat center center/cover;
                    height: auto;
                    /* Adjust height as needed */
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                }
                
                .footer::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.925);
                    /* Adjust color and opacity */
                    z-index: 1;
                }
                
                .footer-content {
                    position: relative;
                    z-index: 2;
                    text-align: center;
                }
                
                .footer a {
                    color: #a3de83;
                }
                
                .footer p {
                    color: rgba(255, 255, 255, 0.3);
                }
                
                .footer-heading {
                    font-size: 30px;
                    color: white;
                    font-weight: 700;
                    margin-bottom: 30px;
                }
                
                .footer .footer-heading .logo {
                    color: rgb(151, 105, 74);
                    text-decoration: none;
                }
                
                .footer-address {
                    list-style: none;
                    text-align: left;
                    font-family: sans-serif;
                }
                
                span.hours,
                span.address,
                span.phone {
                    font-weight: 600;
                    color: rgb(151, 105, 74);
                }
                
                .footer .menu {
                    margin-bottom: 30px;
                }
                
                .footer .menu a {
                    color: rgb(255, 255, 255);
                    margin: 0 10px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    text-decoration: none;
                }
                
                .footer .ftco-footer-social li a {
                    /* background: transparent; */
                    border: 1px solid rgb(151, 105, 74);
                }
                
                span.fa-whatsapp,
                span.fa-facebook,
                span.fa-instagram {
                    color: rgb(151, 105, 74);
                }
                
                .ftco-footer-social li {
                    list-style: none;
                    margin: 0 10px 0 0;
                    display: inline-block;
                }
                
                .ftco-footer-social li a {
                    height: 40px;
                    width: 40px;
                    display: block;
                    background: rgba(0, 0, 0, 0.05);
                    border-radius: 50%;
                    position: relative;
                }
                
                .ftco-footer-social li a span {
                    position: absolute;
                    font-size: 20px;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
                
                .ftco-footer-social li a:hover {
                    color: #fff;
                }
                /* END OF FOOTER */
                /* MOBILE SCREEN */
                
                @media (max-width: 575px) {
                    .nav-item {
                        border: 5px;
                        padding: 5px;
                        width: 100%;
                        background: rgb(112, 75, 48, 0.9);
                        margin-top: 5px;
                        text-align: center;
                    }
                    .nav-link {
                        color: black;
                    }
                    .Panel-footer {
                        text-align: center;
                    }
                    .Panel-footer section hr {
                        width: 100%;
                    }
                }
                
                @media (max-width: 455px) {
                    .logo {
                        width: 55px;
                        height: 55px;
                    }
                }
                
                @media (max-width: 415px) {
                    .logo {
                        width: 45px;
                        height: 45px;
                    }
                }